<h3>Olá, {{provider}}</h3>

<p>Houve um cancelamento de horario, confira os detalhes abaixo:</p>

<p>
  <b>Cliente:</b> {{user}} <br>
  <b>Data/Hora:</b> {{date}} <br>
</p>

<small>O horario esta novamente disponivel para novos agendamentos</small>
